body {
  background: lightblue;
}

.listForm {
  background: pink;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
}

.listItems {
  list-style-type: none;
}

.getRid:checked + span {
  text-decoration: line-through;
}
