<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Checklist</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>

	<form action="/" method="post">
		<input type="text" name="searchInput">
		<input type="submit" value="Add Todo">
		<ul class="listItems">
			{{#todos}}
			<li class="todoList"> <input class="getRid" type="checkbox" value="Mark Complete"><span>{{.}}</span></li>
			<br> {{/todos}}
		</ul>

		
	</form>

</body>

</html>